MONGO_URI=mongodb://localhost:27017
DB_NAME=ticket_system
PORT=3000

# Seguridad de Autenticación
JWT_SECRET=tu_secreto_para_jwt_aqui

# Credenciales de Semilla para el Administrador Inicial
ADMIN_DNI=00000000A
ADMIN_EMAIL=admin@tickets.com
ADMIN_NAME=Admin
ADMIN_LASTNAME=TicketSystem
ADMIN_PASSWORD=AdminPass123!
